/* ======================================= */
/* ESTILOS PARA LA GALERÍA DE CÍRCULOS */
/* ======================================= */

.circle-img-container {
    /* Define el tamaño del contenedor del círculo para asegurar consistencia */
    width: 150px;
    height: 150px;
    margin: 0 auto; /* Centra el contenedor en la columna */
}

.custom-circle {
    /* Define un tamaño fijo y asegura que la imagen cubra el círculo */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta la imagen para que llene el círculo sin distorsionarse */
    border: 4px solid #4A0404; /* Borde opcional de tu color vino oscuro */
}

/* Opcional: Estilo al pasar el cursor para las imágenes circulares */
.custom-circle:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
    border-color: silver;
}

